SQLAlchemy
Jinja2
flask
urllib3
requests
pyopenssl
Faker
Werkzeug
passlib
flask-mysql
Flask-Cors
Flask-JWT-Extended
Flask-Migrate
Flask-Moment
flask-RESTful
flask-Mail
Flask-Script
Flask-SQLAlchemy
Flask-WTF
itsdangerous
MySQL-python